.blogs-container {
    padding: 0 50px;
}

.title{
    text-align: start ;
    font-size: 54px;
}

.banner-image {
    width: 100%;
}

.custom-block > p {
    text-align: center;
    padding: 10px 0 0;
}

h3.custom-block {
    text-align: center;
    padding: 30px 0 0;
}
h4.custom-block {
    padding: 30px 0 0;
}

p.custom-block {
    padding: 10px 0;

}

ul.custom-block {
    padding: 20px 32px;

}

.full-image {
    width: 100%;
}

.two-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 4%;
    padding: 30px 0 20px;
}

.two-grid-wrapper > .full-image {
    max-width: 100%;
}

.two-grid-wrapper > div {
    text-align: start;
}

@media screen and (max-width: 768px) {
    .two-grid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 4%;
        padding: 30px 0 20px;
    }

    .two-grid-wrapper > .full-image {
        max-width: 100%;
        margin-bottom: 15px;
    }


    .two-grid-wrapper > div {
        text-align: start;
    }
}