.top-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin: 5px 30px 10px;
    overflow: hidden;
}
.header{
    height: 40px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 15px;
}
.header-logo{
    position: relative;
    bottom: 15px;
}
.skiptranslate select {
    cursor: pointer;

}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none !important;
}

body {
    top: 0 !important;
}

#google_translate_element {
    height: 28px;
    position: relative;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none;
}
@media screen and (max-width: 480px) {
    .top-section {
        justify-content: center;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}